body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
  }
  .code-container {
    position: fixed;
    color: #f8f8f2;
    font-family: monospace;
    font-size: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .code-container .line {
    opacity: 0.2;
  }
  .code-container .line.active {
    opacity: 1;
  }
  a.keyword {
    color: #a9dc76;
  }
  a.operator {
    color: #ffcc66;
  }
  span {
    display: inline; /* or inline */
    }